* {
    margin: 0;
    padding: 0;
}

body > header {
    background-color: black;
    width: 100%;
    height: 54px;
}
.page {
    position: relative;
    top: -54px;
    width: 650px;
    margin: 0 auto;
}
div.page > main {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

div.leftCol {
    flex: 2;
}

div.rightCol {
    flex: 1;
}
.window1 div.content {
    margin: 50px 1em 1em 1em;
}
.window2 div.content,
.window2 footer,
.window1 footer {
    padding: 0.5em;
}

p {
    margin: 0.5em;
}

.window1,
.window2 {
    /* width: 400px; */
    margin: 20px auto;

    font-family: comic sans ms;

    border: 2px solid silver;
    background-color: white;
}

.window1 header {
    background-color: #17a2b7;
    background-image: url(../images/KIMG0330.JPG);
}

.window2 header {
    background-color: gray;
    padding: 0.5em;
    color: white;
}

img.thumbnail {
    width: 100px;
    position: relative;
    top: 50px;
    left: 25px;
}

.footer {
    margin: 1em;
}

img.icon {
    height: 20px;
    vertical-align: middle;
    margin: 0.1em;
}

img.button {
    height: 20px;
    vertical-align: middle;
    margin: 0.1em;
}
img.button:hover {
    cursor: pointer;
    filter: invert(100);
}

a {
    color: #17a2b7;
}
a:hover {
    color: black;
    cursor: pointer;
}

ul {
    list-style: inside;
}
ul.userList {
    list-style: none;
}
ul.userList li {
    display: flex;
    justify-content: space-between;
}
ul.userList li div.user:hover {
    cursor: pointer;
    background-color: silver;
}
