@font-face {
    font-family: roboto;
    src: url("fonts/Roboto-Regular.ttf");
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: roboto;
    font-size: 15px;
    color: white;

    background-color: black;
    padding: 10px;
}

.nav-title {
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    list-style-type: none;
    width: 400px;
}

.btn {
    background-color: #17a2b8;
    border: 2px solid black;
    box-shadow: 2px 2px 4px black;

    padding: 0.5em;

    color: white;
}

.btn:hover {
    color: silver;
}

.btn:active {
    color: black;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.nav-links li a:hover {
    color: silver;
}

.nav-links li a:active {
    color: black;
}
